:root {
    --level-1: 42px;
    --level-2: 30px;
    --level-3: 24px;
    --level-4: 18px;

    --level-1-offset: calc(calc(calc(var(--level-1) * 1.5) - var(--level-1)));
    --level-2-offset: calc(calc(calc(var(--level-2) * 1.5) - var(--level-2)));
    --level-3-offset: calc(calc(calc(var(--level-3) * 1.5) - var(--level-3)));
    --level-4-offset: calc(calc(calc(var(--level-4) * 1.5) - var(--level-4)));

    --box-shadow: 0px 0px 4px 2px rgba(89, 105, 121, 0.5);
    --box-border: solid 2px #596979;
    --box-border: solid 2px hsl(210, 15%, 41%);
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.box-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 80%;
    aspect-ratio: 16 / 9;
}

.box {
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column;
    border: var(--box-border);

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.material {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: var(--level-1);
    flex-wrap: wrap;
    row-gap: var(--level-1);
}

.one {
    background-color: hsl(200, 0%, 94%);
    max-width: calc(var(--level-1) * 15);
    border-radius: calc(var(--level-1) / 2);
    padding-top: calc(calc(var(--level-1) - calc(var(--level-1-offset)/1.5)));
    padding-left: calc(var(--level-1));
    /* background-image: url(../img/bg-01.svg); */
}

.two {
    background-color: hsl(200, 20%, 90%);
    border-radius: calc(var(--level-2) / 2);
    padding-top: calc(calc(var(--level-2) - calc(var(--level-2-offset)/1.5)));
    padding-left: calc(var(--level-2));
    /* background-image: url(../img/bg-02.svg); */
}

.three {
    background-color: hsl(200, 10%, 96%);
    width: calc(var(--level-3) * 8);
    max-width: calc(var(--level-3) * 8);
    border-radius: calc(var(--level-3) / 2);
    padding-top: calc(calc(var(--level-3) - calc(var(--level-3-offset)/1.5)));
    padding-left: calc(var(--level-3));
    /* background-image: url(../img/bg-03.svg); */
}

.one .title {
    margin-left: -2.5px;
    margin-top: -1.5px;
    width: calc(100% - calc(var(--level-1) * 2));
}

.two .title {
    margin-left: -1.75px;
    margin-top: -1.5px;
    width: calc(100% - calc(var(--level-2) * 2));
}

.three .title {
    margin-left: -1.5px;
    margin-top: -1px;
    width: calc(100% - calc(var(--level-3) * 2));
}

.one .title h1 {
    font-size: var(--level-1);
}

.two .title h2 {
    font-size: var(--level-2);
}

.three .title h3 {
    font-size: var(--level-3);
}

.one .description {
    width: calc(100% - calc(var(--level-1) * 2));
    padding-bottom: var(--level-1-offset);
}

.two .description {
    width: calc(100% - calc(var(--level-2) * 2));
    padding-bottom: var(--level-2-offset);
}

.three .description {
    width: calc(100% - calc(var(--level-3) * 2));
    padding-bottom: var(--level-3-offset);
}

.one .material {
    max-width: calc(var(--level-1) * 14);
}

.two .material {
    width: calc(100% - calc(var(--level-2) * 1));
}

.description p {
    font-size: var(--level-4);
}
